@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  position: relative;
  height: 100vh;
  width: 100%;
}
a {
  text-decoration: none;
  color: #000;
  transition: color 0.2s ease;
}

a:hover {
  color: #ffa114;
}

main {
  padding: 50px 144px 0;
}
.hide {
  display: none;
}
